In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.8.0-cp312-cp312-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.6.1-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.8.0-cp312-cp312-win_amd64.whl (680 kB)
   ---------------------------------------- 0.0/680.4 kB ? eta -:--:--
   - -------------------------------------- 30.7/680.4 kB ? eta -:--:--
   ------- -------------------------------- 122.9/680.4 kB 1.0 MB/s eta 0:00:01
   ----------- ---------------------------- 194.6/680.4 kB 1.2 MB/s eta 0:00:01
   ---------------- ----------------------- 286.7/680.4 kB 1.5 MB/s eta 0:00:01
   ------------------- -------------------- 337.9/680.4 kB 1.4 MB/s eta 0:00:01
   ------------------------ --------------- 409.6/680.4 kB 1.3 MB/s eta 0:00:01
   -------------------------- ------------- 450.6/680.4 kB 1.3 MB/s eta 0:00:01
   ----------------------------- ---------- 501.8/680.4 kB 1.2 MB/s eta 0:00:01
   ---------------------------------------  675.8/680.4 kB 1.5 MB/s eta 0:00:01
   ---------------------------------------  675.8/680.4 kB 1.5 MB/s eta 0:00:01
   ---------------------------------------  675.8/680.4 kB 1.5 MB/s eta 0:00:01
   ---------------------------------------  675.8/680.4 kB 1.5 MB/s eta 0:00:01
   ---------------------------------------  675.8/680.4 kB 1.5 MB/s eta 0:00:01
   ---------------------------------------  675.8/680.4 kB 1.5 MB/s eta 0:00:01
   ---------------------------------------  675.8/680.4 kB 1.5 MB/s eta 0:00:01
   ---------------------------------------  675.8/680.4 kB 1.5 MB/s eta 0:00:01
   ---------------------------------------  675.8/680.4 kB 1.5 MB/s eta 0:00:01
   ---------------------------------------  675.8/680.4 kB 1.5 MB/s eta 0:00:01
   -------------------------------------- 680.4/680.4 kB 752.1 kB/s eta 0:00:00
Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
   ---------------------------------------- 0.0/307.7 kB ? eta -:--:--
   --------------- ------------------------ 122.9/307.7 kB 3.6 MB/s eta 0:00:01
   ---------------------------------------  307.2/307.7 kB 3.8 MB/s eta 0:00:01
   ---------------------------------------  307.2/307.7 kB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 307.7/307.7 kB 1.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.8.0

In [2]:
from pymongo import MongoClient
import pandas as pd

In [4]:
data = pd.read_csv("E:\develop\Web scraping\List_of_largest_companies_by_revenue.csv")
data.head()

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\rfare\AppData\Local\Temp\ipykernel_8208\838094266.py:1: SyntaxWarning: invalid escape sequence '\d'
  data = pd.read_csv("E:\develop\Web scraping\List_of_largest_companies_by_revenue.csv")

,Name,Industry,Revenue,Profit,Employees,Headquarter
0,Walmart,Retail,"$648,125","$15,511","2,100,000",United States
1,Amazon,Retail,"$574,785","$30,425","1,525,000",United States
2,State Grid Corporation of China,Electricity,"$545,948","$9,204","1,361,423",China
3,Saudi Aramco,Oil and gas,"$494,890","$129,699","73,311",Saudi Arabia
4,China Petrochemical Corporation,Oil and gas,"$429,700","$9,393","513,434",China

In [5]:
client = MongoClient("mongodb://127.0.0.1:27017/")

In [6]:
db = client['Companies']

In [7]:
collection = db['collectionCompanies']

In [8]:
collection.insert_many(data.to_dict('records'))
print('Success')

Success